.header {
  height: 120px;

  background-color: var(--color-light-xl);

  position: sticky;
  top: 0;

  display: flex;
}

.header-logo,
.link {
  color: var(--color-dark-l);
}

.header-sublogo,
.active-link,
.link:hover {
  color: var(--color-dark-3xl);
}

.pets {
  height: 1342px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets .wrapper {
  height: 804px;

  gap: 60px;
}

.pets-heading {
}

.pet-cards {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
}

.pets-navigation {
  width: 340px;

  display: flex;
  justify-content: space-between;
}

.pets-paginator {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  font-weight: bold;
  background-color: var(--color-light-l);

  display: flex;
  justify-content: center;
  align-items: center;
}

.pets-paginator:not(:disabled) {
  cursor: pointer;
}

.pets-paginator:not(:disabled):hover {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.pets-paginator:disabled {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
}

.active {
  background-color: var(--color-primary);
}

@media (max-width: 768px) {
  .pets {
    height: 1733px;
  }

  .pets .wrapper {
    gap: 30px;
  }

  .pet-cards {
    width: 82%;
    padding-bottom: 10px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .card:last-child,
  .card:nth-last-child(2) {
    display: none;
  }
}
