.header {
  height: 120px;

  background-color: var(--color-light-xl);

  position: sticky;
  top: 0;

  display: flex;
}

.header-logo,
.link {
  color: var(--color-dark-l);
}

.header-sublogo,
.active-link,
.link:hover {
  color: var(--color-dark-3xl);
}

.pets {
  height: 1342px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets-content-wrapper {
  width: 1200px;
  height: 1162px;
  padding-top: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pets-heading {
}

.pet-cards {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
}

.pets-navigation {
  width: 340px;

  display: flex;
  justify-content: space-between;
}

.pets-paginator {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  font-weight: bold;
  background-color: var(--color-light-l);

  display: flex;
  justify-content: center;
  align-items: center;
}

.pets-paginator:not(:disabled) {
  cursor: pointer;
}

.pets-paginator:not(:disabled):hover {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.pets-paginator:disabled {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
}

.active {
  background-color: var(--color-primary);
}

.footer {
}

.contact-heading {

}
