.header-wrapper {
  height: 120px;
}

.header {
  width: 1200px;
  margin: auto;
}

.header-logo,
.link {
  color: var(--color-dark-l);
}

.header-sublogo,
.active-link,
.link:hover {
  color: var(--color-dark-3xl);
}

.pets {
  height: 1342px;
}

.pets-content-wrapper {
  width: 1200px;
  height: 1162px;
  margin: auto;
}

.pet-cards {
  width: 100%;
  padding: 15px 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 40px;
}

.footer {
}

.contact-heading {

}
