@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

:root {
  --color-primary: #F1CDB3;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
}

body {
  color: var(--color-light-xl);
}

.start-container {
  padding: 48px 40px 0px;
  background: 
radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 0 0 10px;

  font-family: 'Tinos';
  color: var(--color-primary);
  font-weight: normal;
  letter-spacing: 0.06rem;
}

.header-sublogo {
  letter-spacing: 0.01rem;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 35px;
}

.link,
.active-link {
  text-decoration: none;
  color: var(--color-light-xl);
}

.active-link {
  border-bottom: 2px solid var(--color-primary);
}


