.keyboard {
  width: 1025px;
  padding: 10px;
  border-radius: 12px;

  background-color: $keyboard-color;
  
  @include flex-gap(0.5em);
  flex-direction: column;
}

.keyboard__row {
  display: flex;
  gap: 0.5em;
}

.keyboard__key {
  min-width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;

  background-color: $key-color;

  font-size: 22px;
  color: $key-font-color;

  cursor: pointer;
  user-select: none;

  transition: 0.05s;

  position: relative;

  @include flex-center;

  &:hover {
    background-color: mix($key-color, white, $weight: 90%);
  }

  &--grow-1 {
    flex-grow: 1;
  }

  &--dark {
    background-color: mix($key-color, rgb(0, 0, 10), $weight: 70%);
  }

  &--pressed {
    transform: scale(0.9);
    background-color: mix($key-color, white, $weight: 95%);
  }

  &--toggled::after {
    content: '';
    width: 0.3em;
    height: 0.3em;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 50%;
    background-color: rgb(150, 50, 50);
    top: 3px;
    left: 3px;
    position: absolute;
  }

  &--toggled-on::after {
    background-color: rgb(50, 150, 50);
  }
}
