@font-face {
  font-family: "Georgia";
  src: url('../../assets/fonts/Georgia.eot');
  src: local("Georgia"),
    url('../../assets/fonts/Georgia.ttf') format('truetype'),
    url('../../assets/fonts/Georgia.otf') format('opentype'),
    url('../../assets/fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url('../../assets/fonts/Georgia-Bold.eot');
  src: local("Georgia"),
    url('../../assets/fonts/Georgia-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Georgia-Bold.otf') format('opentype'),
    url('../../assets/fonts/Georgia-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
