* {
  box-sizing: border-box;
}

:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-s: #FAFAFA;
  --color-light-xl: #FFFFFF;
  --color-light-l: #F6F6F6; 
  --color-dark-s: #CDCDCD;
  --color-dark-3xl: #292929;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
  --color-dark-l: #545454;
  --color-dark-m: #B2B2B2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 72px;
  padding-top: 24px;
}

.header-logo {
  margin: 0 0 10px;

  font-family: 'Tinos';
  font-size: 32px;
  color: var(--color-primary);
  font-weight: normal;
  letter-spacing: 0.16rem;
}

.header-sublogo {
  letter-spacing: 0.1em;
  font-size: 14px;
}

.nav-menu ul {
  list-style: none;
  padding: 0px 3px 2px 0px;
  display: flex;
  gap: 39px;
}

.link,
.active-link {
  text-decoration: none;
  color: var(--color-dark-s);
}

.link:hover,
.active-link {
  color: var(--color-light-xl);
}

.active-link {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 2px;
}

.start-screen,
.start-screen-content {
  display: flex;
  gap: 42px;
}

.footer {
  padding: 40px 40px 0 40px;

  background:
    url('../../assets/images/noise_transparent.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.footer-content-wrapper {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.contacts {
  width: 278px;
  height: 234px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-heading {
  font-family: 'Tinos';
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.contact-adress {
  font-family: 'Tinos';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  color: var(--color-primary);
}

.contact {
  display: flex;
  gap: 20px;
}

.contact img {
  align-self: center;
}

.pets {
  background-color: var(--color-light-l);
  color: var(--color-dark-l);

  height: 877px;
}

.pets-content-wrapper {
  width: 1200px;
  height: 804px;
  padding-top: 90px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.pets-heading {
  font-family: 'Tinos';
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

.pet-cards {
  width: 90%;

  display: flex;
  justify-content: space-around;
}

.card,
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background-color: var(--color-light-s);

  cursor: pointer;
}

.card-image {
  width: 270px;
  height: 270px;
}

.card-body {
  width: 100%;
  height: 100%;
  padding-top: 30px;

  gap: 30px;
}

.card:hover .card-body {
  background-color: var(--color-light-xl);
}

.card:hover .btn-secondary {
  background-color: var(--color-primary);
}

.card-name {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.btn-secondary {
  font-family: 'Tinos';
  font-size: 17px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: var(--color-dark-3xl);

  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
